﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  @using (Html.BeginForm("FirstNameParam", "Person", FormMethod.Post))
  {
      <div class="form-group">
          <label for="userinput">First Name</label>
          <input type="text", class="form-control" id="userinput", name="userinput">
      </div>
      <button type="submit", class="btn btn-primary">Submit</button>
  }
</div>